@import '../../core/stylesheets/variables.scss';

$select-height: 40px;

@mixin disable-item {
  background-color: $doctuap-disabled;
  pointer-events: none;
  user-drag: none;
  user-select: none;
}

.md-select {
  height: $select-height;
  min-width: 128px;
  position: relative;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:not(.md-select-icon) {
    border: 1px solid $border-color;
    border-radius: $round-radius;
    padding: 0 20px;

    &:after {
      content: '\25BC';
      margin-top: 2px;
      position: absolute;
      right: 17px;
      top: 50%;
      transform: translateY(-50%) scaleY(.45) scaleX(.85);
      transition: $swift-linear;
    }
  }

  &.md-active {
    .md-select-menu {
      opacity: 1;
      pointer-events: auto;
      top: -8px;
      transform: translateY(-8px) scale3D(1, 1, 1);
      transform-origin: center top;
      transition: $swift-ease-out;
      transition-duration: .25s;
      transition-property: opacity, transform, top;

      > * {
        opacity: 1;
        transition: $swift-ease-in;
        transition-delay: .1s;
        transition-duration: .15s;
      }
    }
  }

  &.md-disabled {
    @include disable-item;
  }

  select {
    left: -999em;
    position: absolute;
  }

  .md-menu {
    display: block;
    height: $select-height;
    position: relative;
    width: 100%;
  }

  .md-select-value {
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: $select-height;
    line-height: $select-height + 1px;
    overflow: hidden;
    padding-right: 24px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    z-index: 2;
  }

  .md-subheader {
    color: rgba(#757575, .87);
    text-transform: uppercase;

    &:first-child {
      margin-top: -8px;
    }
  }
}

.md-select-content {
  max-height: 256px;
  width: auto;

  &.md-menu-content {
    border-radius: 5px;
  }

  &.md-direction-bottom-right {
    margin-left: -16px;
    margin-top: -15px;
  }

  .md-option[disabled] {
    @include disable-item;
  }

  .md-menu-item .md-list-item-holder {
    justify-content: flex-start;
    overflow: visible;
  }

  &.md-multiple {
    .md-checkbox {
      margin: 0;
    }

    .md-checkbox-label {
      cursor: pointer;
      padding-left: 16px;
    }
  }
}
