@import '../../core/stylesheets/variables.scss';

$input-size: 40px;

.md-input-container {
  display: flex;
  margin: 4px 0 24px;
  min-height: 48px;
  padding-top: 20px;
  position: relative;
  width: 100%;

  label {
    color: rgba(#000, .54);
    font-size: 12px;
    left: 11px;
    line-height: 20px;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: $swift-ease-out;
    transition-duration: .3s;
  }

  input,
  textarea {
    background: none;
    border: 1px solid $border-color;
    border-radius: $round-radius;
    color: rgba(#000, .54);
    display: block;
    flex: 1;
    font-family: inherit;
    font-size: 1px;
    height: $input-size;
    line-height: $input-size;
    padding: 10px 20px;
    transition: $swift-ease-out;
    transition-property: font-size;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      -webkit-text-fill-color: initial;
      color: rgba(#000, .54);
      font-size: 16px;
      text-shadow: none;
    }

    ~ .md-icon:not(.md-icon-delete) {
      margin-left: 12px;

      &:after {
        left: auto;
        right: 0;
      }
    }
  }

  textarea {
    line-height: 1.3em;
    max-height: 230px;
    min-height: 42px;
    resize: none;
  }

  .md-error,
  .md-count {
    bottom: -22px;
    font-size: 12px;
    height: 20px;
    position: absolute;
  }

  .md-error {
    display: block !important;
    left: 0;
    opacity: 0;
    transform: translate3d(0, -8px, 0);
    transition: $swift-ease-in;
  }

  .md-count {
    right: 0;
  }

  .md-icon:not(.md-icon-delete) {
    color: rgba(#000, .54);
    margin: 4px auto;
    transition: $swift-ease-out;

    &:after {
      bottom: 0;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      width: 36px;
      z-index: 2;
    }

    ~ {
      label {
        left: 36px;
      }

      .md-input,
      .md-textarea,
      .md-file {
        margin-left: 12px;
      }
    }
  }
}

.md-input-container {
  .md-autocomplete,
  .md-autocomplete .md-menu,
  .md-autocomplete .md-menu .md-input {
    width: 100%;
  }
}

.md-theme-default.md-input-container .md-autocomplete .md-icon:not(.md-icon-search):after {
  height: 0;
}

.md-input-container {
  &.md-input-placeholder {
    input,
    textarea {
      font-size: 16px;
    }
  }

  &.md-input-focused,
  &.md-has-value {
    input,
    textarea {
      font-size: 16px;
    }
  }

  &.md-input-inline {
    label {
      font-size: 16px;
      left: 21px;
      pointer-events: none;
      top: 30px;
    }

    &.md-input-focused {
      label {
        font-size: 16px;
      }
    }

    &.md-has-value {
      label {
        opacity: 0;
      }
    }
  }

  &.md-input-disabled {
    &:after {
      background: bottom left repeat-x;
      background-image: linear-gradient(to right, rgba(#000, .38) 0%, rgba(#000, .38) 33%, transparent 0%);
      background-size: 4px 1px;
    }

    label,
    input,
    textarea {
      color: rgba(#000, .38);
    }
  }

  &.md-has-password {
    &.md-input-focused .md-toggle-password {
      color: rgba(#000, .54);
    }

    .md-toggle-password {
      bottom: -2px;
      color: rgba(#000, .38);
      margin: 0;
      position: absolute;
      right: 0;

      .md-ink-ripple {
        color: rgba(#000, .87);
      }
    }
  }

  &.md-clearable {
    &.md-input-focused .md-clear-input {
      color: rgba(#000, .54);
    }

    .md-clear-input {
      bottom: -2px;
      color: rgba(#000, .38);
      margin: 0;
      position: absolute;
      right: 0;

      .md-ink-ripple {
        color: rgba(#000, .87);
      }
    }
  }

  &.md-input-invalid {
    .md-error {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &.md-input-required {
    label:after {
      content: '*';
      font-size: 12px;
      line-height: 1em;
      position: absolute;
      right: 0;
      top: 2px;
      transform: translateX(calc(100% + 2px));
      vertical-align: top;
    }
  }

  &.md-has-select:hover {
    .md-select:not(.md-disabled):after {
      color: rgba(#000, .87);
    }
  }
}
