@import '../../core/stylesheets/variables.scss';

.md-toolbar {
  .content {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    min-height: 64px;
    padding: 0 8px;
    position: relative;
    transform: translate3D(0, 0, 0);
    transition: $swift-ease-out;

    .md-toolbar-container {
      > a {
        color: currentColor;
        
        &:hover {
          color: currentColor;
        }
      }
    }
  }

  &.md-fixed {
    position: relative;

    .content {
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 3;
    }

    .placeholder {
      min-height: 64px;
    }
  }

  &.md-dense {
    .content {
      min-height: 48px;
    }

    &.md-medium {
      .content {
        min-height: 72px;
      }
    }

    &.md-large {
      .content {
        min-height: 96px;
      }
    }

    .md-toolbar-container {
      height: 48px;
    }
  }

  &.md-medium {
    .content {
      min-height: 88px;
    }

    &.md-fixed .placeholder {
      min-height: 88px;
    }

    .md-toolbar-container:nth-child(2) {
      .md-title:first-child {
        margin-left: 56px;
      }
    }
  }

  &.md-large {
    .content {
      align-content: inherit;
      min-height: 128px;
    }

    &.md-fixed .placeholder {
      min-height: 128px;
    }

    .md-toolbar-container:nth-child(2) {
      .md-title:first-child {
        margin-left: 56px;
      }
    }
  }

  &.md-account-header {
    .content {
      min-height: 164px;
    }

    .md-ink-ripple {
      color: #fff;
    }

    .md-list-item-container {
      &:hover:not([disabled]) {
        background-color: rgba(#fff, .12);
      }
    }

    .md-avatar-list {
      margin: 16px 0 8px;

      .md-list-item-container {
        align-items: flex-start;
      }

      .md-avatar + .md-avatar {
        margin-left: 16px;
      }
    }
  }

  .md-toolbar-container {
    align-items: center;
    align-self: flex-start;
    display: flex;
    height: 64px;
    width: 100%;

    > .md-button {
      &:first-child {
        margin-left: 0;
        margin-right: 16px;
      }

      + .md-button {
        margin-left: 0;
      }
    }
  }

  > .md-button {
    &:first-child {
      margin-left: 0;
      margin-right: 16px;
    }

    + .md-button {
      margin-left: 0;
    }
  }

  .md-button:hover {
    &:not([disabled]):not(.md-raised):not(.md-icon-button):not(.md-fab) {
      background-color: rgba(#fff, .1);
    }
  }

  .md-title {
    font-size: 20px;
    font-weight: 400;
    margin: 0;

    &:first-child {
      margin-left: 8px;
    }

    + .md-input-container {
      margin-left: 24px;
    }
  }

  .md-input-container {
    margin-bottom: 0;
    margin-top: 0;
    min-height: 32px;
    padding-top: 0;
  }

  .md-list {
    flex: 1;
    margin: 0 -8px;
    padding: 0;
  }

  .md-progress {
    bottom: -4px;
    top: initial;
  }
}
