@import '../../core/stylesheets/variables.scss';

$button-width: 88px;
$button-height: 40px;
$button-radius: 2px;

$button-fab-size: 56px;
$button-fab-size-mini: 40px;
$button-fab-space: 24px;

$button-dense-height: 32px;

$button-icon-size: 40px;

.md-button {
  background: none;
  border: 0;
  border-radius: $button-radius;
  color: currentColor;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-weight: 500;
  letter-spacing: inherit;
  line-height: $button-height;
  margin: 6px 8px;
  min-height: $button-height;
  min-width: $button-width;
  outline: none;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: $swift-ease-out;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover {
    &:not([disabled]) {
      &:not(.md-raised) {
        background-color: rgba(#999, .2);
        text-decoration: none;
      }

      &.md-raised {
        background-color: rgba(#000, .12);
      }

      &.md-outlined {
        &:hover {
          background-color: $default-color;
          border-color: $default-color;
          color: #fff;
        }
      }
    }
  }

  &:active:not([disabled]) {
    background-color: rgba(#999, .4);
  }

  &.full-width {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  &.spaced {
    margin-top: 20px;
  }

  &.md-outlined {
    border: 1px solid currentColor;
  }

  &.md-raised,
  &.md-outlined {
    border-radius: $round-radius;
  }

  &.md-dense {
    font-size: 13px;
    line-height: $button-dense-height;
    min-height: $button-dense-height;
  }

  &.md-icon-button,
  &.md-fab {
    .md-icon {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 1px;
    }
  }

  &.md-icon-button {
    border-radius: 50%;
    height: $button-icon-size;
    line-height: 24px;
    margin: 0 6px;
    min-width: $button-icon-size;
    padding: 8px;
    width: $button-icon-size;

    &:not([disabled]) {
      &:hover {
        background: none;
      }
    }

    &.md-dense {
      height: $button-dense-height;
      line-height: $button-dense-height;
      min-height: $button-dense-height;
      min-width: $button-dense-height;
      padding: 4px;
      width: $button-dense-height;
    }

    .md-ink-ripple {
      border-radius: 50%;

      .md-ripple {
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
      }
    }

    .md-ripple.md-active {
      animation-duration: .9s;
    }
  }

  &.md-fab {
    background-clip: padding-box;
    border-radius: $button-fab-size;
    box-shadow: $material-shadow-2dp;
    height: $button-fab-size;
    line-height: $button-fab-size;
    min-width: 0;
    overflow: hidden;
    padding: 0;
    transition: $swift-ease-out;
    transition-property: background-color, box-shadow, transform;
    width: $button-fab-size;

    &:hover,
    &:focus {
      box-shadow: $material-shadow-5dp;
    }

    &.md-mini {
      height: $button-fab-size-mini;
      line-height: $button-fab-size-mini;
      width: $button-fab-size-mini;
    }

    .md-ink-ripple {
      border-radius: $button-fab-size;
    }
  }

  &[disabled] {
    color: rgba(#000, .26);
    cursor: default;
    pointer-events: none;

    &.md-raised,
    &.md-fab {
      background-color: rgba(#000, .12);
    }

    &.md-fab {
      box-shadow: none;
    }
  }

  &:after {
    transition: $swift-ease-out;
  }

  .md-ink-ripple {
    background-clip: padding-box;
    border-radius: $button-radius;
    overflow: hidden;
  }
}

.md-button.md-icon-button,
.md-button.md-fab {
  .md-icon {
    display: block;
  }
}

.md-fab,
.md-speed-dial {
  &.md-fab-top-left,
  &.md-fab-top-center,
  &.md-fab-top-right,
  &.md-fab-bottom-left,
  &.md-fab-bottom-center,
  &.md-fab-bottom-right {
    margin: 0;
    position: absolute;
    z-index: 10;
  }

  &.md-fab-top-left {
    left: $button-fab-space;
    top: $button-fab-space;
  }

  &.md-fab-top-center {
    left: 50%;
    top: $button-fab-space;
    transform: translateX(-50%);
  }

  &.md-fab-top-right {
    right: $button-fab-space;
    top: $button-fab-space;
  }

  &.md-fab-bottom-left {
    bottom: $button-fab-space;
    left: $button-fab-space;
  }

  &.md-fab-bottom-center {
    bottom: $button-fab-space;
    left: 50%;
    transform: translateX(-50%);
  }

  &.md-fab-bottom-right {
    bottom: $button-fab-space;
    right: $button-fab-space;
  }
}

.md-button-tooltip {
  &.md-tooltip-top {
    margin-top: -8px;
  }

  &.md-tooltip-right {
    margin-left: 8px;
  }

  &.md-tooltip-bottom {
    margin-top: 8px;
  }

  &.md-tooltip-left {
    margin-left: -8px;
  }
}
